img {
    width: 100%;
}

.container{
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img{
    width: 40%;
    min-width: 400px;
}

a{
    color: black;
    font-size: 2rem;
    padding-left: 20px;
    padding-top: 30px;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.desc-container{
    padding-left: 20px;
    text-align: center;
}

.desc{
    font-size: 1.3rem;
    padding-top: 20px;
}

@media (max-width:926px){
    a{
        font-size: 1.7rem;
    }
}

@media (max-width:750px){
    a{
        font-size: 1.7rem;
    }
    .container{
        flex-direction: column;
    }
    .img{
        width: 100%;
        padding-top: 10px;
    }
}
